<div class="row">
  <div class="Age col-md-3 col-sm-3">
    <i class="fa fa-smile-o fa-5x"></i>
    <span>{{$ctrl.achivement.age}}</span>
    <button class="btn btn-info" ng-click="$ctrl.addup1()">click me</button>
  </div>

  <div class="Code col-md-3 col-sm-3">
    <i class="fa fa-code fa-5x"></i>
    <span>{{$ctrl.achivement.code}}</span>
    <button class="btn btn-info" ng-click="$ctrl.addup2()">click me</button>
  </div>

  <div class="Hour col-md-3 col-sm-3">
    <i class="fa fa-square-o fa-5x"></i>
    <span>{{$ctrl.achivement.hour}}</span>
    <button class="btn btn-info" ng-click="$ctrl.addup3()">click me</button>
  </div>

  <div class="Project col-md-3 col-sm-3">
    <i class="fa fa-trophy fa-5x"></i>
    <span>{{$ctrl.achivement.project}}</span>
    <button class="btn btn-info" ng-click="$ctrl.addup4()">click me</button>
  </div>  
</div>

<br>
<br>

<svg class="chart"></svg>

