<script type="text/javascript">
    $(document).ready(function() {
      $("#testimonial").owlCarousel({
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
      });
  });
</script>
<!-- Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Resume<span class="brand-heading">-Web Developer</span></h1>
                        <p class="intro-text">Keep Going</p>
                        <a href="#services" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="copyrights">Quinn Resume <a href="http://www.zckpp2015.wordpress.com" >Web Developer</a></div>
<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Basic <strong>Info</strong></h2>
      <hr>
      </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-laptop"></i>
        <h4><strong>Me</strong></h4>
        <p>
		Quinn Zhang</br>
		Male
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-code"></i>
        <h4><strong>Education</strong></h4>
        <p>
		Master in Information Systems</br>
		Bachelor in Computer Science</br>
		
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
        <h4><strong>Graduate School</strong></h4>
        <p>
		  University of Maryland College Park</br>
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-bullseye"></i>
        <h4><strong>Contact</strong></h4>
        <p>(301)272-0699</br>
		  Mail: chengkun.zhang@rhsmith.umd.edu</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="works">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>Project <strong>Experience</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>HTML, CSS, Sass, Less, JavaScript, PHP, JQuery, Angular, Node, Drupal, WordPress</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".web">Web</a></li>
            <li><a href="#" data-filter=".app">Mobile</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">

        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4><a href='http://www.hhmi.org' target='_blank' title="hhmi">HHMI</a></h4>
                <small>html+css+js+PHP+Drupal</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"></i> </div>
              <img src="img/portfolio/00.jpg" class="img-responsive" alt="HHMI">
            </div>
          </div>
        </div>
	      
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4><a href='http://www.hhmi.org/biointeractive/events#/mainView' target='_blank' title="Bio">HHMI-Biointeractive</a></h4>
                <small>html+css+Angular+PHP+Drupal</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"></i> </div>
              <img src="img/portfolio/10.jpg" class="img-responsive" alt="Bio">
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4><a href='http://www.govclear.com' target='_blank' title="govclear">govclear</a></h4>
                <small>html+css+js+wordpress</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"></i> </div>
              <img src="img/portfolio/01.jpg" class="img-responsive" alt="govclear">
            </div>
          </div>
        </div>
		
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4><a href="http://www.usaivyedu.com/" target='_blank' title="usaivy">usaivy</a></h4>
                <small>HTML+CSS+JS+PHP</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"></i> </div>
              <img src="img/portfolio/02.jpg" class="img-responsive" alt="usaivy">
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 branding app web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4><a href="#" target='_blank' title="Android">Android application</a></h4>
                <small>Java Android SDK</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"></i> </div>
              <img src="img/portfolio/07.jpg" class="img-responsive" alt="Android">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2><strong>IT</strong> Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="img/about.png" class="img-responsive"> </div>
      <div class="col-md-6">
        <div class="about-text"> <i class="fa fa-users"></i>
          <div class="padding-left"><h4>Web</h4>
          <p>Proficient in HTML, CSS, Sass, Less, JavaScript, PHP, JQuery, Angular, Node, Drupal, WordPress</p></div>
          <i class="fa fa-magic"></i>
          <div class="padding-left"><h4>Data</h4>
          <p>Complex SQL queries, Excel Solver</p></div>
          <i class="fa fa-check-square-o"></i>
          <div class="padding-left"><h4>Back-end</h4>
          <p>Lamp, Wamp, Docker environment, MySQL management</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="achivements" class="section dark-bg">
  <div class="container">
    <div class="row" id="achieveheader">
      <h2>CLick these guys!</h2>   
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box"  ng-click="$ctrl.addup1()">
          <i class="fa fa-smile-o"></i>
          <span class="count">{{$ctrl.achivement.age}}</span>
          <h4>Age Years</h4>                            
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box"  ng-click="$ctrl.addup2()">
          <i class="fa fa-code"></i>
          <span class="count">{{$ctrl.achivement.code}}</span>
          <h4>Code Amount</h4>                            
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box"  ng-click="$ctrl.addup3()">
          <i class="fa fa-check-square-o"></i>
          <span class="count">{{$ctrl.achivement.hour}}</span>
                        <h4>Work Hour</h4>
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box"  ng-click="$ctrl.addup4()">
          <i class="fa fa-trophy"></i>
          <span class="count">{{$ctrl.achivement.project}}</span>
          <h4>Projects Amount</h4>                            
        </div>
      </div> 
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Experience</strong></h2>
      <hr>
      <p>Passionate about web development, pay attention to detail</p>
    </div>
    <div id="row">

      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/team/00.png" alt="HHMI" class="img-circle team-img">
          <div class="caption">
            <h3>HHMI</h3>
            <p>Web developer</p>
            <p>Redesigned and maintained hhmi.org Developed font-end, back-end and responsive design</p>
          </div>
        </div>
      </div>
	
	    <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/team/02.jpg" alt="govclear" class="img-circle team-img">
          <div class="caption">
            <h3>GovCLEAR</h3>
            <p>Web developer intern</p>
            <p>Built and managed govclear.com Developed font-end, back-end and responsive design</p>
          </div>
        </div>
      </div>
	
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/team/01.jpg" alt="Inovalon" class="img-circle team-img">
          <div class="caption">
            <h3>Inovalon</h3>
            <p>Data analyst intern</p>
            <p>Data cleaning and mining using complex SQL queries based on Hadoop Hive</p>
          </div>
        </div>
      </div>
	  
  
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/team/03.jpg" alt="UMD" class="img-circle team-img">
          <div class="caption">
            <h3>University of Maryland</h3>
            <p>Information Systems</p>
            <p>Database Management, Data Mining, Big Data, Project Management</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/team/04.jpg" alt="UESTC" class="img-circle team-img">
          <div class="caption">
            <h3>UESTC</h3>
            <p>Computer Science</p>
            <p>C, Java, SQL, Data Structure</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Self-evaluation</strong></h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item">       
            <p>
			Great passion in Web development</br>Life long learner
			</p>
          </div>
          <div class="item">
            <p>
			Reliable Team-player</br>Positive attitude under stress
			</p>
          </div>
          <div class="item">
            <p>
			Strong can-do attitude</br>Serious at work, easy-going in life
			</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Contact</strong></h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>5325 Westbard Ave, Bethesda, MD, 20816</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>chengkun.zhang@rhsmith.umd.edu</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p>(301)272-0699</p>
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <h3>Email</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Mail" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="content" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">submit</button>
      </form>
    </div>
  </div>
</div>